/* Paleta de colores
Color logo #663366 
rgba(110,51,102,0.8);*/
/* Fuentes 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yiywxm');
  src:  url('../fonts/icomoon.eot?yiywxm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yiywxm') format('truetype'),
    url('../fonts/icomoon.woff?yiywxm') format('woff'),
    url('../fonts/icomoon.svg?yiywxm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: 
 }
body{
    font-size: 16px;
	line-height: 20px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
 }
header{
	background-color: rgba(110,51,102,0.8);
	padding: 0;
	height: 90px;
	display: block;
	}

header .logo{
	padding:0.3em 0.5em;
	float: left;
}
header .leyenda span{
	height: 25px;
	font-weight: 400; 
	font-size: 20px;
	float: left;
	color: white;
	padding: 32px 26px 32px 15px;
	letter-spacing: 3px;
}	
header .informacion{
	width: 48%;
	float: left;
	color: white;
	font-weight: 200;
	text-align: center;
	padding: 3px 20px 23px 10px;
	background-color: rgba(110,51,102,0.3);
	margin-top:8px;
	margin-right: 5px;
	height: 50px;

}
header .informacion span{
	font-size: 11px;
 	letter-spacing: 2px;
 	padding-left: 5px;
 	padding-right: 5px;

 }
.icon-phone:before,
.icon-location2:before,
.icon-clock2:before {
	font-family: 'icomoon';
	font-size: 13px;
	color: white;
	display: inline-block;
}
nav{
	background-color: rgba(110,51,102,0.5);
	font-size: 10px;
	letter-spacing: 8px;
}
nav ul{
	margin: 0 auto;
	list-style: none;
	text-align: left;
	margin-top: 0px;
	padding: 0;
	height: 40px;
}
nav ul li{
	display: inline-block;
	width: 20%;	
	overflow: hidden;
}
nav ul li a{ 
    padding: 0.8em;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 1.3em;
	color: white;
	transition: all 1.2s ease;
	opacity: 0.9;
}
nav ul li a:hover{
	background-color:  rgba(110,51,102,0.5);
	opacity: 1;
	letter-spacing: 10px;
}

/*-------------------------------------------------*/
.prefooter{
	margin-top: 0;
}
.logoehistoria{
	display: block;
	float:left;
	max-width: 33%;
	margin-left: 25px;
	margin-top: 28px;
	margin-bottom: 25px;
}
.logoehistoria p{
	line-height: 25px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	color: rgba(110,51,102,0.9);

}

.logoehistoria p::before{
	content: ' ';
	height: 1px;
	background-color: rgba(110,51,102,0.2);
	width: 250px;
	display: block;
	opacity: 0.7;
	margin-bottom: 5px;


}
.logoehistoria p::after{
	content: ' ';
	height: 1px;
	background-color: rgba(110,51,102,0.2);
	max-width: 250px;
	display: block;
	opacity: 0.7;
	margin-bottom: 5px;
}

.mail{
	width: 30%;
	display: block;
	float:left;
	margin-left:80px;
	margin-bottom:17px;
	margin-top: 63px;
}
.mail a{
	text-decoration: none;
	color: rgba(110,51,102,0.8);
	letter-spacing: 3px;

}
.historia2{
	display: block;
	float:left;
	width: 40%;

}
.historia2 p{
	line-height: 25px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	color: rgba(110,51,102,0.9);
	margin-left: 70px;
	margin-top: 0px;
	margin-right: 0px;
}

.historia2 p::before{
	content: ' ';
	height: 1px;
	background-color: rgba(110,51,102,0.2);
	width: 250px;
	display: block;
	opacity: 0.7;
	margin-bottom: 5px;


}
.historia2 p::after{
	content: ' ';
	height: 1px;
	background-color: rgba(110,51,102,0.2);
	max-width: 250px;
	display: block;
	opacity: 0.7;
	margin-bottom: 5px;
}

.telefono .icon-phone:before {
	font-family: 'icomoon';
	font-size: 50px;
	color: rgba(110,51,102,0.9);
	display: inline-block;
	margin-top: 28px;
	margin-left: 128px;
}

.telefono p{
	display: block;
	width: 200px;
	float: left;
	margin-left: 80px;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: rgba(110,51,102,0.7);
	width: 15%;
	line-height: 40px;
	margin-top: 10px;
	font-weight: 200;

}

footer{
	font-family: 'Lato', sans-serif;
	height: 35px;
	background-color: rgba(110,51,102,0.5);
	color: white;
	font-size: 0.6em;
	text-align: left;
	padding: 0.5em 02em;
	margin-top: 0 auto;
	clear: both;
	font-weight: 100;
}
footer p{
	float: left;
	display: block;
	margin: 0;
	letter-spacing: 3px;
	opacity: 0.8;
	padding-top: 0.7em;
}
footer a{
	font-family: 'icomoon';
	font-size: 18px;
	color: white;
	opacity: 0.9;
	padding: 0em 0.5em;
	float: right;
	padding-top: 0.4em;
	text-decoration: none;
}
.icon-facebook{
	padding: 7px 5px;
	margin-right: 60px;
	margin-left: 20px;
}
.icon-instagram{
	padding: 7px 3px;
}
.icon-facebook:hover{
	color: rgba(110,51,102,0.9); 
	transition: all 1s ease;
}
.icon-instagram:hover{
	color: rgba(110,51,102,0.9); 
	transition: all 1s ease;
}
.holder{
	width:  960px;
	margin: 0 auto;
}
.activo{
	background-color:  rgba(110,58,102,0.9);
}
