/* Paleta de colores
Color logo #663366
segundo color:#334C66;
rgba(110,51,102,0.8); */
/* Fuentes 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;*/
section .contenedor{ 
	position: relative;
	float:left;
	display: block;
 }
 section .contenedor p{
 	font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 960px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
	opacity: 1;
	font-weight: 200;
	letter-spacing: 5px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	line-height: 80px;
}


section .contenedor p::before{
	content: ' ';
	height: 2px;
	background-color: white;
	max-width: 960px;
	display: block;
	opacity: 0.5;
}
section .contenedor p::after{
	content: ' ';
	height: 2px;
	background-color: white;
	max-width: 960px;
	display: block;
	opacity: 0.5;
}


.bienvenida{
	position: absolute;
    top: 420px;
    left: 50%;
	width: 940px;
	float-left;
	font-family: 'Oswald', sans-serif;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 20px;
	opacity: 0.8;
	font-weight: 200;
	letter-spacing: 5px;
	height: 150px;
	line-height: 35px;
	background-color: rgba(110,51,102,0.8);
	border-radius: 10px;
	padding: 20px 15px 90px 15px;
	margin-top: 0;
}
.botonservicios{
	position: absolute;
    top: 70%;
    left: 33.5%;
	width: 300px;
	opacity: 0.9;
	display: block;
	font-size: 18px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color:white;
    border-color: white;
    border-radius: 5px;
    border: 1px solid white;	
    padding:2px 5px 2px 5px;
    text-align: center;
    transition: all 0.5s ease;
}
.botonservicios:hover{
	background-color: white;
	color:rgba(110,51,102,1);
	letter-spacing: 5.3px;
}