/* Paleta de colores
Color logo #663366
segundo color:#334C66;
rgba(110,51,102,0.8); */
/* Fuentes 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;*/
.contenedor{ 
	float:left;
	display: block;
	opacity: 1;
	background-image: url(../img/labrador2.png);
	height: 360px;
	width: 100%;
}
.contenedor p{

	width:480px;
	display: block;
  	float: left;
  	font-family: 'Oswald', sans-serif;
    color: rgba(110,51,102,0.8);
    font-size: 48px;
	font-weight: 200;
	letter-spacing: 3px;
	line-height: 55px;
	margin: 30px 700px 12px 12px;

}
.contenedor p::before{
	content: ' ';
	height: 4px;
	background-color: white;
	width: 460px;
	display: block;
	opacity: 0.7;
}
.contenedor p::after{
	content: ' ';
	height: 4px;
	background-color: white;
	max-width: 360px;
	display: block;
	opacity: 0.7;
}

.botonservicios{
	width: 330px;
	opacity: 0.9;
	display:block;
	float: left;
	font-size: 18px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color:rgba(110,51,102,0.9);
    border-radius: 5px;
    border: 1px solid rgba(110,51,102,0.8);	
    padding:2px 5px 2px 5px;
    text-align: center;
    transition: all 1s ease;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 12px;
    background-color: white;
    letter-spacing: 4px;
    padding: 6px;
}
.botonservicios:hover{
	background-color: rgba(110,51,102,0.8);
	color:white;
	letter-spacing: 4.2px;
}
/*----------------------------*/
.color{
	background-color:rgba(110,51,102,0.5);
}
.bannermedio{
	font-family: 'Oswald', sans-serif;
	color:white;
	letter-spacing: 7px;
	font-weight: 200;
	text-align: center;
	line-height: 28px;
	display: inline-block;
	margin-bottom: 0;
	width: 960px;
	height: 250px;
}

.bannermedio span {
	font-family: 'Lato', sans-serif;
	margin:20px;
	color:white;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 28px;
	display: inline-block;
	margin-bottom: 0;
	width:880px;
	height: 135px;
}
.internacion{
	border-radius: 15px;
	height: 63px;
	padding-top: 15px;
	padding-bottom: 5px;
	width: 30%;
	display: block;
	float: left;
	background-color: rgba(110,51,102,0.8);
}
.alimentos{
	border-radius: 15px;
	height: 63px;
	width: 30%;
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
	float: left;
	background-color: rgba(110,51,102,0.7);
}
.accesorios{
	border-radius: 15px;
	height: 56px;
	width: 30%;
	display: block;
	padding-top: 27px;
	padding-bottom: 0px;
	float: left;
	background-color: rgba(110,51,102,0.6);
}
.internacion,
.alimentos,
.accesorios {
	margin:2px 15px;

}
/*----------------------------*/
.contenedor2{
	display: block;
	float: left;
	width: 100%;
	height: 620px;
	background-image: url(../img/2.png);
	opacity: 0.9;
}
.contenedor2 p::before{
	content: ' ';
	height: 2px;
	background-color: white;
	max-width: 960px;
	display: block;
	opacity: 0.5;
}
.contenedor2 p::after{
	content: ' ';
	height: 2px;
	background-color: white;
	max-width: 960px;
	display: block;
	opacity: 0.5;
}
.circulo1{
	position: relative;
	margin:50px;
	display: inline-block;
	float: left;
	z-index: 1;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: rgba(110,51,102,0.8);
	border: 2px dotted white;
	animation: circulo 70s linear infinite;
}
@keyframes circulo {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
