.wrapper {
	display: block;
	float: left;
  height: 350px;
  width: 960px;
  margin-top: 10px;
  filter: grayscale(80%);
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
}
.product-img {
  float: left;
  height: 350px;
  width: 327px;
}
.product-img img {
  border-radius: 7px 0 0 7px;
}
.product-info {
  float: left;
  height: 350px;
  width: 632px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.product-text {
  height: 400px;
  width: 600px;
}
.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 35px;
  color: rgba(110,51,102,0.8);
  font-weight: 400;
}
.product-text h1,
.product-price-btn p {
 font-family: 'Oswald', sans-serif;
}
.product-text h2 {
  margin: 35px 0 30px 38px;
  font-size: 19px;
 font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.3em;
}
.product-text p {
  height: 135px;
  margin: 0 0 0 38px;
  font-family: 'Oswald', sans-serif;
  color: rgba(110,51,102,0.8);
  line-height: 1.9em;
  font-size: 20px;
  font-weight: lighter;
  overflow: hidden;
}
.wrapper:hover { 
	filter: grayscale(0%);
}
table{
  background-color: white;
  text-align: center;
  padding-top-top: 10px;
}
.columna{
  width: 500px;
  text-align: center;
  background-color: rgba(110,51,102,0.6);
  height: 40px;
  color: white;
  font-size:20px;
  border-bottom: solid 3px white;
}
tbody tr td{
  height: 25px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
   font-size:18px;
   background-color: rgba(110,51,102,0.7);
 }
 tr:hover{
  transition: all 1s ease;
  background-color: rgba(110,51,102,0.8);
 }
 #farmacia{
  display: none;
}
 #accesorios{
  display: none;
}
 #alimentos{
  display: none;
}
.botonVerMas{
  width: 250px;
  opacity: 0.9;
  display: inline-block;
  float: left;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color:rgba(110,51,102,0.9);
  border-radius: 5px;
  border: 1px solid rgba(110,51,102,0.8); 
  padding:2px 5px 2px 5px;
  text-align: center;
  transition: all 1s ease;
  margin: 0 auto;
  margin-top: 0px;
  margin-left: 38px;
  background-color: white;
  letter-spacing: 4px;
  padding: 6px;
  outline: none;
}
.botonVerMas:hover{
  background-color: rgba(110,51,102,0.8);
  color:white;
  letter-spacing: 4.2px;
  cursor: pointer;
}

